# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

venv/
.env

# Data Files

data/
*.csv

# Jupyter

.ipynb_checkpoints/

# macOS

.DS_Store

# Streamlit

.streamlit/

# IDE

.vscode/
.idea/

# Logs

*.log
